/* USE FOR CUSTOM STYLE AND LAYOUT: */
/* Add or adjust banners for organization */
/* modern-normalize is taking care of the box-sizing,
   which is still a standard way to design */

/* * * * * * * * * * * * * * * * * * * * * * * * *
    UTILITIES 
* * * * * * * * * * * * * * * * * * * * * * * * */
/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    TYPOGRAPHY 
    For larger projects, consider using a type scale:
    https://baseline.is/tools/type-scale-generator/
* * * * * * * * * * * * * * * * * * * * * * * * */

:root {
    --text-size-xs: 0.64rem;
    --text-size-sm: 0.8rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.25rem;
    --text-size-xl: 1.56rem;
    --text-size-2xl: 1.95rem;
    --text-size-3xl: 2.44rem;
    --text-size-4xl: 3.05rem;
    --text-size-5xl: 3.81rem;
}
            

.spline-sans{
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* * * * * * * * * * * * * * * * * * * * * * * * *
    STRUCTURE
* * * * * * * * * * * * * * * * * * * * * * * * */

body{
    /* background-color: #274c77; */
    /* background-color: #031926; */
    background-color: #010319;
    color: #E7ECEF;
    /* padding-bottom: 8rem; */
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}

header{
    text-align: center;
    font-size: var(--text-size-xl);
    font-style: italic;
    padding-bottom: 2rem;
    
}


  


/* * * * * * * * * * * * * * * * * * * * * * * * *
    COMPONENTS
* * * * * * * * * * * * * * * * * * * * * * * * */

/* 
    IMAGES
*/

.logo{
    border: none;
    max-height: 75px;
}



/* 
    LINKS
*/

/* 
    BUTTONS
*/

/* 
    TABLES
*/


/* 
    LISTS
*/


/* * * * * * * * * * * * * * * * * * * * * * * * *
    PAGE SPECIFIC
* * * * * * * * * * * * * * * * * * * * * * * * */

footer{
    width: 100%;
    background-color: #E7ECEF;
    text-align: center;
}

main{
    margin-bottom: 5rem;
}

.cert-filter{
    color: #E7ECEF;
    font-size: var(--text-size-lg);
    margin-bottom: 2rem;
    border: .25px solid grey;
    transition: transform 0.25s ease;

    /* CSS Gradient from: https://cssgradient.io/  */
    background: #5e5e5e;
    background: linear-gradient(90deg, rgba(94, 94, 94, 1) 0%, rgba(64, 64, 64, 1) 0%, rgba(1, 3, 25, 1) 83%);
}


.cert-filter:hover{
    color: #6096ba;
    transform: scale(1.1);
}
.cert-filter.active{
    color: #6096ba;

}

.cert-card{
    transition: transform 0.25s ease;
}

.cert-card:hover{
    transform: scale(1.05);
}

.header-split{
    color: #6096ba;
}

.card-title, .card-text{
    color: #010319;
}

/* * * * * * * * * * * * * * * * * * * * * * * * *
    MEDIA QUERIES 
* * * * * * * * * * * * * * * * * * * * * * * * */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (width >=576px) {}

/* Medium devices (tablets, 768px and up) */
@media (width >=768px) {}

/* Large devices (desktops, 992px and up) */
@media (width >=992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (width >=1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (width >=1400px) {}